/* About */

/* .container_border {
  border: 5px solid #ff2632;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
} */

.container {
  padding: 60px 30px 0 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 5px solid #ff2632;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; */
}

.title {
  text-align: left;
  font-size: 24px;
  margin-bottom: 0;
}

.text {
  font-size: 16px;
}

.text_about {
  font-size: 15px;
}

.contact {
  margin-top: 16px;
}

.contact p {
  margin: 0;
}

@media (min-width: 375px) {
  .text,
  .text_about {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
    height: 80vh;
    padding: 70px 100px 70px 100px;
    margin: 0 auto;
    /* border: none; */
  }
  .text,
  .text_about {
    font-size: 16px;
    line-height: 1.5;
  }
  .search_field {
    margin: 30px 0;
  }
}
