/* About */

.container {
  padding: 60px 20px 0 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.title {
  text-align: left;
  font-size: 24px;
  margin-bottom: 0;
  width: 100%;
}

.text {
  font-size: 12px;
}

.button {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  border-radius: 10px;
  padding: 7px;
  margin-top: 15px;
}

.artwork_text {
  text-align: right;
  padding-right: 10px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.select {
  width: 100%;
  margin-bottom: 10px;
}

.label {
  width: 100%;
}

.containerA {
  border: 3px solid black;
  /* background-color: #17a301; */
  padding: 10px;
  margin-bottom: 20px;
}

.containerB {
  border: 5px solid#ffce2d;
  /* background-color: #ffce2d; */
  padding: 10px;
  margin-bottom: 20px;
}

.containerC {
  border: 5px solid#ff2632;
  padding: 10px;
  margin-bottom: 20px;
}

@media (min-width: 350px) {
  .text {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
    height: 80vh;
    padding: 70px 100px 70px 100px;
    margin: 0 auto;
  }
  .text {
    font-size: 16px;
    line-height: 1.5;
  }
  .search_field {
    margin: 30px 0;
  }
}
