.footer_art {
  width: 80%;
  /* height: 20%; */
  display: flex;
  flex-direction: row;
  display: inline-block;
  flex-wrap: wrap;
  /* margin-top: 20px; */
  position: absolute;
  bottom: 10px;
}

.footer_center a {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.footer_left {
  width: 50%;
  display: inline-block;
}

.footer_right {
  text-align: right;
  float: right;
  width: 50%;
  align-self: flex-end;
}

@media (min-width: 768px) {
  .footer_art {
    font-size: 18px;
    max-width: 540px;
  }
}
