.footer_art {
  padding-top: 25%;
}

.footer_left {
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
}

.footer_right {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
}
