.footer_art {
  padding-top: 40px;
}

.footer_left {
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
}

.footer_right {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
}

/* @media (min-width: 1300px) {
  .footer_left,
  .footer_right {
    position: fixed;
    top: 50vh;
  }
  .footer_left {
    left: 18%;
  }
  .footer_right {
    right: 18%;
  }
} */
