*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
}

h1 a {
  font-size: 40px;
  color: black;
}

a {
  text-decoration: none;
}

/* Home page */

.container_home {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 35% 0;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  border-radius: 50%;
  list-style: none;
}

.container_home a {
  text-decoration: none;
  min-width: 100px;
  display: inline-block;
  color: black;
  margin: 0;
  padding: 40px 0;
  font-weight: bold;
}

.btn_green {
  background-color: #17a301;
}

.btn_yellow {
  background-color: #ffce2d;
}

.btn_red {
  background-color: #ff2632;
}

/* Line B */

.line {
  width: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.station {
  margin: 20px;
  border-radius: 50%;
  border: 15px solid;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-color: #ffce2d;
}

.isDisabled {
  /* pointer-events: none; */
  background-color: #ffce2d;
}

.yellow {
  border-color: #ffce2d;
  background-color: #ffce2d;
}

.label {
  margin: 80px;
  font-size: 10px;
  white-space: nowrap;
}

/* Line B transfer */
.transfer {
  list-style-type: none;
  font-size: 10px;
}

/* Images */

img {
  width: 100%;
}

/* ArtPage */

.container_artworks {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.container_artwork {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

/* .red-line {
  height: 20px;
  width: 100vw;
  display: flex;
  background-color: red;
  z-index: -1;
  position: absolute;
  transform: rotate(25deg);
} */
