*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}

h1 a {
  font-size: 40px;
  color: black;
}

a {
  text-decoration: none;
}

/* Home page */

.container_home {
  margin: 0 15px;
}

.btn_home {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto 0;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  border-radius: 50%;
  list-style: none;
}

.btn_home a {
  text-decoration: none;
  min-width: 100px;
  display: inline-block;
  color: black;
  margin: 0;
  padding: 40px 0;
  font-weight: bold;
}

.btn_green {
  background-color: #17a301;
}

.btn_yellow {
  background-color: #ffce2d;
}

.btn_yellow {
  transition: all 1s ease-in-out;
}
.btn_yellow:active {
  transform: scale(100);
}

.btn_red {
  background-color: #ff2632;
}

/* Line B */

.line {
  width: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* .isDisabled {
  pointer-events: none;
  background-color: #ffce2d;
} */

.station {
  margin: 20px 0;
  border-radius: 50%;
  border: 15px solid;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-color: #ffce2d;
  position: relative;
}

.yellow {
  border-color: #ffce2d;
  background-color: #ffce2d;
  position: relative;
}

.label {
  white-space: nowrap;
  font-size: 12px;
  position: absolute;
  left: 80px;
  top: 1px;
}

.lable_empty {
  color: rgba(0, 0, 0, 0.504);
}

/* Line B transfer */
.transfer {
  list-style-type: none;
  font-size: 10px;
}

/* ArtWorks */

/* .container_artpage {
  background-color: #ffce2d;
} */

.container_artworks {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.container_artwork {
  width: 80%;
  margin: 15px auto;
}

/* .red-line {
  height: 20px;
  width: 100vw;
  display: flex;
  background-color: red;
  z-index: -1;
  position: absolute;
  transform: rotate(25deg);
} */
