/* .link_green {
  background-color: #17a301;
}

.link_yellow {
  background-color: #ffce2d;
}

.link_red {
  background-color: #ff2632;
}

.ul_home {
  display: flex;
  list-style: none;
  padding: 0;
}

.link_home {
  text-decoration: none;
  min-width: 100px;
  display: inline-block;
  color: black;
  margin: 0;
  padding: 40px 0;
  border-radius: 50px;
  font-weight: bold;
} */
