.container {
  padding-top: 60px;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 85vw;

  /* height: 100vh; */
}

.title {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
  width: 100%;
}

.text {
  font-size: 12px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.select {
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Hind Siliguri', sans-serif;
  border-color: black;
  background-color: white;
}

.label {
  width: 100%;
}

.button {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  border-radius: 10px;
  padding: 7px 0;
  width: 80px;
  margin-top: 15px;
  margin-right: 20px;
  font-family: 'Hind Siliguri', sans-serif;
}

.button_reset {
  background-color: white;
  border: 1px solid black;
  /* color: white; */
  text-align: center;
  font-size: 14px;
  display: inline-block;
  border-radius: 10px;
  width: 80px;
  padding: 7px 0;
  margin-top: 15px;
  margin-right: 20px;
  font-family: 'Hind Siliguri', sans-serif;
}

.artwork {
  margin: 35px 0;
  position: relative;
}

.artworkHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

.artworkHeader > p {
  margin: 0 0 0 80px;
  font-weight: bold;
}

.circleGreen {
  background-color: #17a301;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 0px;
  display: inline-block;
}

.circleYellow {
  background-color: #ffce2d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 25px;
  display: inline-block;
}

.circleRed {
  background-color: #ff2632;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 50px;
  display: inline-block;
}

.img {
  width: 100%;
  height: auto;
}

.artwork_text {
  text-align: right;
  padding-right: 10px;
}

.artwork_text p {
  margin: 0;
}

@media (min-width: 350px) {
  .text {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 690px;
    padding: 70px 100px 70px 100px;
    margin: 0 auto;
  }
  .text {
    font-size: 16px;
    line-height: 1.5;
  }
  .artworkHeader {
    margin-bottom: 10px;
  }
  .circleGreen,
  .circleYellow,
  .circleRed {
    height: 25px;
    width: 25px;
    top: 0;
    cursor: pointer;
  }
  .circleGreen {
    left: 0;
  }
  .circleYellow {
    left: 30px;
  }
  .circleRed {
    left: 60px;
  }
  .artworkHeader > p {
    margin-left: 100px;
    cursor: pointer;
  }
}
